<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Logo</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav d-flex align-items-center justify-content-center">
      <!-- Nueva clase añadida -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/ver-transaccion">Ver Transacciones</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/realizar-transaccion"
          >Realizar Transaccion</a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/clientes">Clientes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/clientes/crear-cliente"
          >Crear Cliente</a
        >
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/signup">Registrarse</a>
      </li>
      <li class="nav-item logout" routerLinkActive="active">
        <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
      </li>
    </ul>
  </div>
</nav>

<div
  class="d-flex align-items-center justify-content-center"
  style="height: 20vh"
>
  <h1>Crear Cliente</h1>
</div>

<div
  class="d-flex align-items-center justify-content-center"
  style="height: 50%"
>
  <div
    class="card"
    style="
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 300px;
      height: 60%;
      padding: 20px;
      gap: 10px;
      background-color: #f8f9fa;
    "
  >
    <form
      [formGroup]="crearClienteForm"
      style="gap: 15px; display: flex; flex-direction: column"
    >
      <div class="form-group text-center">
        <input
          type="cedula"
          name="cedula"
          id="cedula"
          placeholder="Cedula"
          formControlName="cedula"
          class="form-control"
        />
      </div>
      <div class="form-group text-center">
        <input
          type="nombre"
          name="nombre"
          id="nombre"
          placeholder="Nombre"
          formControlName="nombre"
          class="form-control"
        />
      </div>
      <div class="form-group text-center">
        <input
          type="telefono"
          name="telefono"
          id="telefono"
          placeholder="Telefono"
          formControlName="telefono"
          class="form-control"
        />
      </div>
      <div class="form-group text-center">
        <input
          type="municipio"
          name="municipio"
          id="municipio"
          placeholder="Municipio"
          formControlName="municipio"
          class="form-control"
        />
      </div>
      <div class="form-group text-center">
        <input
          type="direccion"
          name="direccion"
          id="direccion"
          placeholder="Direccion"
          formControlName="direccion"
          class="form-control"
        />
      </div>
      <div class="text-center">
        <button
          class="btn btn-primary"
          type="button"
          (click)="crearCliente()"
          [disabled]="crearClienteForm.invalid"
        >
          Crear cliente
        </button>
      </div>
    </form>
  </div>
</div>
